name: CI Nest-js 
on:
  push: 
    branches: [main]
  pull_request: 
    branches: [main] 
  workflow_dispatch: 
jobs:
  Build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: setup Node.js environment
        uses: actions/setup-node@v6.2.0
        with:
          node_version: '20'
      - name: Install packages 
        run: npm install ; npm update  

  DeployToDocker: 
    runs-on: ubuntu-latest 
    needs: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Docker Login 
        uses: docker/login-action@v3.7.0
        with:
          username: ${{ secrets.DOCKERUSERNAME }}
          password: ${{ secrets.DOCKERPASSWORD }}
      - name: Build Docker Image 
        run: |
          docker build -t yousef2005/coursesplatform-nestjs:${{ github.run_number }} .
      - name: Run Trivy Scan 
        uses: aquasecurity/trivy-action@master
        with:
          image-ref:  'yousef2005/coursesplatform-nestjs:${{ github.run_number }}'
          format: 'table' 
          exit-code: 1 
          ignore-unfixed: true 
          vuln-type: 'os,library' 
          severity: 'CRITICAL'
      - name: Push Docker Image 
        run: | 
          docker push yousef2005/coursesplatform-nestjs:${{ github.run_number }} 
          docker tag yousef2005/coursesplatform-nestjs:${{ github.run_number }} yousef2005/coursesplatform-nestjs:latest 
          docker push yousef2005/coursesplatform-nestjs:latest
